<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h3>Añadir Carne</h3>
    </div>
    <div class="card-body">
      <form action="">
          <div class="form-group">
              <label for="id">Código:</label>
              <input type="text" [(ngModel)] = "carne.codigo"  name="id" id="id" class="form-control">
            </div>
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" [(ngModel)] = "carne.nombre"  name="nombre" id="nombre" class="form-control">
        </div>
        <div class="form-group">
          <label for="provincia">Precio:</label>
          <input type="number" [(ngModel)] = "carne.precio"  name="precio" id="precio" class="form-control">
        </div>
        <div class="w-100">
          <div class="d-flex w-100 justify-content-between">
                  <div class="d-flex mr-5">
                      <button type="button" class="btn btn-danger p-2 px-3 fuente" (click)="cancelar()">Cancelar</button>
                  </div>
                  <div class="d-flex">
                      <button type="button" class="btn btn-success p-2 px-3 fuente" (click)="Guardar(carne)">Guardar</button>
                  </div>
              </div>
      </div>
      </form>
    </div>
  </div>
</div>
© 2019 GitHub, Inc.
