@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

@import '~ag-grid-community/dist/styles/ag-grid.css';
@import '~ag-grid-community/dist/styles/ag-theme-balham.css';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
};

html {
  // 62.5% = 10px;
  // 75% = 12px;
  // 87.5% = 14px;
  font-size: 87.5%;
}

.builder-sidebar_scroll {
    top: 5rem !important;
}

#group-container-customResources {
  overflow-y: scroll;
  max-height: 40rem;
}

.menu-title{
  max-width: 7.75rem;
  word-break: break-word;
}
